node_modules/
.expo/
dist/
build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production
coverage/
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
